name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - main
      - master

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Firebase Tools
        run: npm install -g firebase-tools

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          # AQUI ESTÁ A CORREÇÃO: Adicionamos --project
          args: deploy --only hosting --project gestao-torres-v2
        env:
          GCP_SA_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_GESTAO_TORRES }}
